<style>
    body{
        background: url('../images/MicrosoftTeams-image\ \(1\).png');
        background-size: cover;
    }
</style>
<div class="container-fluid container-fluid-custom">
   <h1>About StaRNote-App</h1>
</div>